@{
    ViewBag.Title = "Sobre";
    ViewBag.Message = "Saiba mais sobre o Azul Infinito: Ocean Cleanup.";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>O Azul Infinito é um projeto dedicado à preservação dos oceanos e à redução da poluição marinha. Através de nosso aplicativo, incentivamos a participação ativa na limpeza de praias e oceanos, bem como doações para instituições parceiras comprometidas com a causa ambiental.</p>

    <p>Junte-se a nós na missão de tornar nossos oceanos mais limpos e saudáveis. Cada contribuição faz a diferença!</p>
</main>