@{
    ViewBag.Title = "Contato";
    ViewBag.Message = "Entre em contato conosco para mais informações ou suporte.";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Rua dos Oceanos, 123<br />
        Cidade Costeira, AZ 12345<br />
        <abbr title="Telefone">T:</abbr>
        123.456.7890
    </address>

    <address>
        <strong>Suporte:</strong>   <a href="mailto:suporte@azulinfinito.com">suporte@azulinfinito.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@azulinfinito.com">marketing@azulinfinito.com</a>
    </address>
</main>