@{
    ViewBag.Title = "Home Page";
}

<h2>Bem-vindo ao Sistema de Gestão de Categorias e Produtos</h2>

<p>
    Utilize os links abaixo para navegar pelas funcionalidades do sistema:
</p>

<ul>
    <li>@Html.ActionLink("Gerenciar Categorias", "Index", "Categorias")</li>
    <li>@Html.ActionLink("Gerenciar Produtos", "Index", "Produtos")</li>
</ul>